<div class="loginmobile" ng-controller="anonymousCardInquiryCtrl">
		<h5>G2 Card inquiry</h5>
       <div class="form-group">
       <label>G2 card number</label>
        <input type="tel" placeholder="Passcode" name="cardno">
        <label>Passcode</label>
         <input type="tel" placeholder="New passcode" name="cardno">
          <div><img src="images/activationcode.jpg"/>
         <input type="text" name="code" class="acticode"></div>
         <label>Insert the information above</label>
         <input type="tel" placeholder="Confirm new passcode" name="cardno">
       </div>
        <div class="col-xs-6"><a href="#/edwallet" class="btn orngbtn acti">Balance inquiry</a></div>
        <div class="col-xs-6"><a href="#/edwallet" class="btn orngbtn acti">Mini-statement</a></div>
        <div class="col-xs-12"><a class="forgot" href="#/edwallet">Cancel</a></div>
    </div>
