	    <!-- Carousel
    ================================================== -->
    <div id="cardtypecarousel" class="carousel slide " data-ride="carousel" data-interval="false">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#cardtypecarousel" data-slide-to="0" class="active"><span class="bggold"></span></li>
        <li data-target="#cardtypecarousel" data-slide-to="1"><span class="bgblue"></span></li>
        <li data-target="#cardtypecarousel" data-slide-to="2"><span class="bgred"></span></li>
        <li data-target="#cardtypecarousel" data-slide-to="3" class="brdr"><span class="bggreen"></span></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
        <div class="goldbg"></div>
          <div class="container margtop">
            <div class="col-md-7">
                <h5>Gold Card</h5>
                <p>The first and unique card that you can brand with your personal or company name. The Al Haslah Gold Card allows you to transfer larger amounts 
                save and secure via the e-dirham payment platform.</p>
            </div> <!--col-md-7 ends here-->
            <div class="col-md-5">
              <ul class="cardtypdet">
                <li class="col-md-5">10.000,00 AED<br/><span>Limit</span></li>
                <li class="col-md-5">Required<br/><span>Registration</span></li>
                <li class="col-md-5">3 Years<br/><span>Expiry Date</span></li>
                <li class="col-md-5">25 AED<br/><span>Purchase</span></li>
                </ul>
            </div> <!--col-md-5 ends here-->
            </div>
        </div><!-- item ends here-->
        <div class="item">
        <div class="bluebg"></div>
          <div class="container margtop">
            <div class="col-md-7">
            <h5>Blue Card</h5>
                <p>The first and unique card that you can brand with your personal or company name. The Al Haslah Gold Card allows you to transfer larger amounts 
                save and secure via the e-dirham payment platform.</p>
                <a href="#" class="btn orngbtn">Apply Now</a>
            </div> <!--col-md-7 ends here-->
            <div class="col-md-5">
              <ul class="cardtypdet">
                <li class="col-md-5">10.000,00 AED<br/><span>Limit</span></li>
                <li class="col-md-5">Required<br/><span>Registration</span></li>
                <li class="col-md-5">3 Years<br/><span>Expiry Date</span></li>
                <li class="col-md-5">25 AED<br/><span>Purchase</span></li>
                </ul>
            </div>
         </div>
                     
        </div>
        <div class="item">
        <div class="redbg"></div>
          <div class="container margtop">
            <div class="col-md-7">
            <h5>Red Card</h5>
                <p>The first and unique card that you can brand with your personal or company name. The Al Haslah Gold Card allows you to transfer larger amounts 
                save and secure via the e-dirham payment platform.</p>
                <a href="#" class="btn orngbtn">Apply Now</a>
            </div> <!--col-md-7 ends here-->
            <div class="col-md-5">
              <ul class="cardtypdet">
                <li class="col-md-5">10.000,00 AED<br/><span>Limit</span></li>
                <li class="col-md-5">Required<br/><span>Registration</span></li>
                <li class="col-md-5">3 Years<br/><span>Expiry Date</span></li>
                <li class="col-md-5">25 AED<br/><span>Purchase</span></li>
                </ul>
            </div>
          </div>
            
        </div>
        <div class="item">
        <div class="greenbg"></div>
          <div class="container margtop">
            <div class="col-md-7">
            <h5>Green Card</h5>
                <p>The first and unique card that you can brand with your personal or company name. The Al Haslah Gold Card allows you to transfer larger amounts 
                save and secure via the e-dirham payment platform.</p>
                <a href="#" class="btn orngbtn">Apply Now</a>
            </div> <!--col-md-7 ends here-->
            <div class="col-md-5">
              <ul class="cardtypdet">
                <li class="col-md-5">10.000,00 AED<br/><span>Limit</span></li>
                <li class="col-md-5">Required<br/><span>Registration</span></li>
                <li class="col-md-5">3 Years<br/><span>Expiry Date</span></li>
                <li class="col-md-5">25 AED<br/><span>Purchase</span></li>
                </ul>
            </div>
           </div>
            
        </div>
      </div>
    </div><!-- /.carousel -->

        <div class="lightblubg">
             <div class="container custype">
             	<div class="col-md-4"><h6>Customer Type:</h6></div>
                <div class="col-md-8">
                <input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio" checked /><label for="radio-1-1"></label><span>Individual Chip Card</span>
                <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio" /><label for="radio-1-2"></label><span>Corporate Chip Card</span>
                </div>
             </div> <!--custype ends here-->
            <div class="brdr"></div> 
             <div class="custinfo container">
             	<div class="row">
                    <div class="col-md-4"><h6>Customer Information:</h6></div>
                    <div class="col-md-4">
                      <label>Title:</label>
                      <select class="selectpicker">
                        <option>Select...</option>
                        <option>Option2</option>
                      </select>
                      </div>	
                </div>
                <div class="row">
                	<div class="col-md-4"></div>
                    <div class="col-md-4">
                    <h6 class="infotitl">English</h6>
                    <ul>
                      <li><label>Emboss Name</label><input type="text" name="emboss"/></li>
                      <li><label>First Name</label><input type="text" name="fname"/></li>
                      <li><label>Middle Name</label><input type="text" name="mname"/></li>
                      <li><label>Last Name</label><input type="text" name="lname"/></li>
                    </ul>
                    </div>
                    
                    <div class="col-md-4">
                    <h6 class="infotitl">Arabic</h6>
                    <ul>
                      <li><label>Emboss Name</label><input type="text" name="emboss"/></li>
                      <li><label>First Name</label><input type="text" name="fname"/></li>
                      <li><label>Middle Name</label><input type="text" name="mname"/></li>
                      <li><label>Last Name</label><input type="text" name="lname"/></li>
                    </ul>
                    </div>
                </div>
             </div><!--custinfo ends here-->
             <div class="brdr"></div>
             <div class="custinfo container">
             	<div class="row">
                    <div class="col-md-4"><h6>ID Information:</h6></div>
                    <div class="col-md-4">
                    <ul>
                      <li><label>ID Type</label><input type="text" name="idtype"/></li>
                      <li><label>ID Number</label><input type="text" name="idnumber"/></li>
                      <li><label>ID Expiry Date</label><input type="text" name="idexp"/></li>
                    </ul>
                    </div>
                    
                    <div class="col-md-4">
                    <ul>
                      <li><label>Nationality</label>
                      <select class="selectpicker">
                        <option>Select...</option>
                        <option>Option1</option>
                      </select>
                      </li>
                      <li><label>Date of Birth</label><input type="text" name="mname"/></li>
                    </ul>
                    </div>
                </div>
             	<div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <ul>
                      <li><label>Personal Photo</label>  
 						<div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn blkbtn btn-file">
                                Browse<input type="file" multiple>
                            </span>
                        </span>
                        
           			 </div>
          			  <p class="custhint">Supported formats : jpg, jpeg</p>
                     </li>
                    </ul>
                    </div>
                    
                    <div class="col-md-4">
                    <ul>
                      <li><label>ID Proof Copy</label>
                      <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn blkbtn btn-file">
                                Browse<input type="file" multiple>
                            </span>
                        </span>
           			 </div>
                     <p class="custhint">Supported formats : jpg, png, jpeg, gif, doc, docx, pdf, xls, xlsx</p>
                      </li>
                    </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <ul>
                      <li><label>ID Proof Copy Optional</label>
                       <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn blkbtn btn-file">
                                Browse<input type="file" multiple>
                            </span>
                        </span>
           			 </div>
                     <p class="custhint">Supported formats : jpg, jpeg</p>
                      </li>
                    </ul>
                    </div>
                    
                    <div class="col-md-4">
                    <ul>
                      <li><label>Copy of Signature</label>
                      <div class="input-group">
                        <input type="text" class="form-control" readonly>
                        <span class="input-group-btn">
                            <span class="btn blkbtn btn-file">
                                Browse <input type="file" multiple>
                            </span>
                        </span>
           			 </div>
                      <p class="custhint">Supported formats : jpg, png, jpeg, gif, doc, docx, pdf, xls, xlsx</p>
                      </li>
                    </ul>
                    </div>
                </div>
                <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <a href="#" class="btn orngbtn margtop">Submit Application</a>                    
                </div>
                </div>
             </div><!--custinfo ends here-->
			
           </div> <!-- lightblubg ends here-->

<div ng-include="'partials/footer.html'" ng-controller="footerCtrl" ></div>

	
<script type="text/javascript">
			$(document).on('change', '.btn-file :file', function() {
			  var input = $(this),
				  numFiles = input.get(0).files ? input.get(0).files.length : 1,
				  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			  input.trigger('fileselect', [numFiles, label]);
			});
			
			$(document).ready( function() {
				$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
					
					var input = $(this).parents('.input-group').find(':text'),
						log = numFiles > 1 ? numFiles + ' files selected' : label;
					
					if( input.length ) {
						input.val(log);
					} else {
						if( log ) alert(log);
					}
					
				});
			});
			
			 $('.selectpicker').selectpicker();
	</script>