<div  ng-controller="cardDetailCtrl">
	<div class="container">
      <div class="row">
         <div class="col-xs-12">
           <h2>Card Balance</h2>
           <p>&nbsp;</p>
           <div class="col-xs-12 transDetail">
            <div class="col-xs-5" style="text-align: right">Date</div>
            <div class="col-xs-7">30/09/2014</div>
            <div class="col-xs-5" style="text-align: right">Card Number</div>
            <div class="col-xs-7">12334454</div>
            <div class="col-xs-5" style="text-align: right">Balance</div>
            <div class="col-xs-7">30.000,00 AED</div>
           </div> 
           <p>&nbsp;</p><p>&nbsp;</p>
           <a href="#/" class="blkbtn btn ng-binding">Back</a>
         </div>
          
   </div> <!--row ends here-->
</div><!-- container ends here--> 
</div>
<script>

		  $(function() {
            $("button.navbar-toggle").show();
            $("#gliphBack").show();
            $("#gliphBack").attr({
              href: '#/lastTransaction',
            });
            $(window).scrollTop(0);

          });

</script>