<div class="loginmobile" ng-controller="mainCtrl">
<style type="text/css">body{background-color:#f1f5f6}</style>
		<h5>Change your passcode</h5>
       <div class="form-group">
       <label>Current passcode</label>
        <input type="tel" placeholder="Passcode" name="cardno">
        <label>New passcode</label>
         <input type="tel" placeholder="New passcode" name="cardno">
         <label>Confirm passcode</label>
         <input type="tel" placeholder="Confirm new passcode" name="cardno">
          <div><img src="images/activationcode.jpg"/>
         <input type="text" name="code" class="acticode"></div>
       </div>
        <a href="#/edwallet" class="btn orngbtn acti">Change</a>
        <a class="forgot" href="#/edwallet">Cancel</a>
    </div>
